.env
node_modules
.DS_Store
.vscode
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
build
coverage
.idea
*.iml

# Ignore database files
*.sqlite
*.sqlite3
*.db
*.db3
*.log
*.pid
*.seed
*.pid.lock
*.backup
*.bak
*.swp
*.swo
*.tmp
*.temp